{% extends "base.html" %}

{% block content %}

  <div class='row'>
    <div class='col-sm-6 text-center col-sm-offset-3'>
    <h1>Login</h1>
{% if form.errors %}
<p class="text-danger">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next != "/" and next is not None %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form.as_p }}

<input type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p>Need to <a href='{% url "register" %}'>Register</a>?</p>
</div>
</div>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}

{% block js %}
	<!-- <script type="text/javascript">
		$(function() {
			$('form p').attr('class', 'form-group');
			$('input[type!="hidden"]').attr('class', 'form-control');
			$('[value~="Login"]').attr('class', 'form-control btn btn-primary');

			$('#id_username').attr('placeholder', 'Username');
			$('#id_password').attr('placeholder', 'Password');

			$('label').hide();

			$('.errorlist li').css('list-style', 'none');
			$('.errorlist li').attr('class', 'text-danger');

			$('.helptext').attr('class', 'help-block');
		});
	</script> -->
{% endblock %}