{% extends "base.html" %}

{% block content %}
	<div class='col-sm-6 col-sm-offset-3 text-center'>
		<h1>Register</h1>
		<hr/>
		<form class='text-left' method="post" action="{% url 'register' %}">
			{% csrf_token %}
			{{ form.as_p }}

			<input type="submit" value="Register" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
		<p>
			Did you need to <a href='{% url "login" %}'>Login</a> ?
		</p>
	</div>

{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function() {
			$('form p').attr('class', 'form-group');
			$('input').attr('class', 'form-control');
			$('[value~="Register"]').attr('class', 'form-control btn btn-primary');

			$('.errorlist li').css('list-style', 'none');
			$('.errorlist li').attr('class', 'text-danger');

			$('.helptext').attr('class', 'help-block');
		});
	</script>
{% endblock %}