{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
	<div class='col-sm-6 col-sm-offset-3 text-center'>
		<h1>Register</h1>
		<hr/>
		<form class='text-left' method="post" action="{% url 'register' %}">
			{% csrf_token %}
			{{ form|crispy }}

			<input type="submit" value="Register" class="btn btn-primary form-control" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
		<p style="margin-top: 20px;">
			Did you need to <a href='{% url "login" %}'>Login</a> ?
		</p>
	</div>

{% endblock %}